# Node.js dependencies and logs
node_modules/
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*
.pnpm-debug.log*

# Coverage and test output
coverage
*.lcov
.nyc_output

# Build and cache
build/
dist/
.cache/
.parcel-cache/
.next/
.nuxt/
.vuepress/dist/
.temp/

# Environment files
.env
.env.*

# VSCode and editor settings
.vscode/

# Terraform state and temp files
*.tfstate
*.tfstate.backup
.terraform/
.terraform.lock.hcl
tf/backend.tf

# Misc
.DS_Store
package-lock.json

# Local config file
testconfig.json